* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Import font from google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* Akhir dari Import font */

h1 > span {
    color: rgb(80, 80, 238);
}

.wrapper_text {
    margin-left: 40%;
    margin-top: 10%;
}

.wrapper_text > p {
    margin-top: 5px;
}

form {
    margin-top: 2%;
    margin-left: 40%;
}

form > input[type="number"] {
    padding: 15px 200px 15px 15px;
    border: 3px solid #C5CFD7;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

form > input[type="number"]:focus {
    border: 3px solid rgb(80, 80, 238);
    outline: none;
}

form > input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#btn_hitung {
    background-color: rgb(80, 80, 238);
    padding: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.5s;
}

#btn_hitung:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 194);
}

#btn_reset {
    background-color: rgb(251, 6, 6);
    padding: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.5s;
}

#btn_reset:hover {
    cursor: pointer;
    background-color: rgb(219, 12, 12);
}

.batas {
    margin-bottom: 20px;
}

#hasil {
    margin-top: 40px;
}